
.texto{
    font-size: 40px;
}
.icono{
    font-size: 170%;
}

.perfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px !important;
    height: 100px !important;
}
.boton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.perfilprueba{
    width: 80%;
    height: 80%;
}